tests/tmp/
tests/codegen_snapshots/
tests/codegen_snapshots.new/
tests/**/*.cpp
build/
tests/build/
tests/*/build/
CPPlusPlus_*
tmp_*
*.log
*.compile.log
*.run.log
*.dSYM/
/in
/in.dSYM/
.DS_Store
prompt*
NUL
.vscode/
